-- AlterTable
ALTER TABLE "daily_lessons" ADD COLUMN     "blockDuration" INTEGER,
ADD COLUMN     "blockEndSlot" INTEGER,
ADD COLUMN     "blockStartSlot" INTEGER,
ADD COLUMN     "blockTitle" TEXT,
ADD COLUMN     "conferenceId" TEXT,
ADD COLUMN     "isBlockSchedule" BOOLEAN NOT NULL DEFAULT false,
ADD COLUMN     "isPhysicalActivity" BOOLEAN NOT NULL DEFAULT false,
ADD COLUMN     "isSpecialEvent" BOOLEAN NOT NULL DEFAULT false,
ADD COLUMN     "requiresInstructor" BOOLEAN NOT NULL DEFAULT true,
ADD COLUMN     "requiresSpecialArea" BOOLEAN NOT NULL DEFAULT false,
ADD COLUMN     "specialAreaType" TEXT,
ADD COLUMN     "specialEventId" TEXT,
ADD COLUMN     "specialEventTitle" TEXT,
ADD COLUMN     "specialEventType" "SpecialEventType",
ALTER COLUMN "courseId" DROP NOT NULL,
ALTER COLUMN "instructorId" DROP NOT NULL;

-- CreateIndex
CREATE INDEX "daily_lessons_specialEventId_idx" ON "daily_lessons"("specialEventId");

-- CreateIndex
CREATE INDEX "daily_lessons_specialEventType_idx" ON "daily_lessons"("specialEventType");

-- CreateIndex
CREATE INDEX "daily_lessons_isSpecialEvent_idx" ON "daily_lessons"("isSpecialEvent");

-- CreateIndex
CREATE INDEX "daily_lessons_isBlockSchedule_idx" ON "daily_lessons"("isBlockSchedule");

-- CreateIndex
CREATE INDEX "daily_lessons_conferenceId_idx" ON "daily_lessons"("conferenceId");

-- AddForeignKey
ALTER TABLE "daily_lessons" ADD CONSTRAINT "daily_lessons_specialEventId_fkey" FOREIGN KEY ("specialEventId") REFERENCES "special_events"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "daily_lessons" ADD CONSTRAINT "daily_lessons_conferenceId_fkey" FOREIGN KEY ("conferenceId") REFERENCES "conferences"("id") ON DELETE SET NULL ON UPDATE CASCADE;

